.hint {
    font-size: 0.8rem;
    color: #969696;
}

.input {
    display: flex;
    gap: 0.7rem;
    align-items: center;
}

.btn {
    border: none;
    background: #2f2828;
    padding: 0.5rem 1.5rem;
    color: white;
    border-radius: 40px;
    font-weight: 600;
}
