.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 45rem;
  margin: auto;
  margin-top: 5%;
}

h3 {
  color: #484848;
  font-size: 1.5rem;
}

a {
  display: flex;
  width: fit-content;
  text-decoration: none;
  margin: 0.5rem;
}
