<header>
  <nav class="navigation-top">
    <ul class="navigation-container">
      <li class="logo-li-container">
        <img class="logo-img" src="/assets/logo.svg" />
        <div class="logo-txt">
          <h1>FLAVIA</h1>
          <span>Kosti</span>
        </div>
      </li>
      <li>
        <a href="https://all-projects-portfolio.web.app/" target="_blank">
          <img src="/assets/home.svg" alt="home" class="logo-img ">
        </a>
      </li>
    </ul>
  </nav>
</header>
<div class="container">
  <app-servers></app-servers>
</div>