/* You can add global styles to this file, and also import other style files */
* {
    font-family: sans;
}

body {
    margin: 0;
}

::-webkit-scrollbar {
    height: 9px;
    width: 9px;
}

::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    width: 9px;
}

::-webkit-scrollbar-track {
    background: transparent;
    width: 9px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}
